.logo{
    width: 70px;
    float: left;
    margin-right: 1vw;
}

.logocsm{
    width: 50px;
    float: left;
    margin-right: 2vw;
}

.csm{
    margin-top: 10vh;
    margin-left: 2vw;
}

body{
    font-family: 'Montserrat', sans-serif;
    margin-left: 0.5px;
}

h2{
    font-weight:900;
}

h3{
    font-weight: 900;
}

h4{
    font-weight: 900;
}

p{
    font-weight: 900;
}